@-moz-document domain("github.com") {
/*! Github Commit Changes visual limts */
/* See http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html */
  #commit-summary-input, #commit-description-textarea {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
      "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
      "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
  }
  /* add red block after 50 characters to show suggested limit */
  #commit-summary-input {
    background: linear-gradient(to right, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 51ch, /*[[overlimit-color]]*/ #fdd 51ch) !important;
  }
  /* add red block after 72 characters to show suggested limit */
  #commit-description-textarea {
    background: linear-gradient(to right, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 73ch, /*[[overlimit-color]]*/ #fdd 73ch) !important;
  }

}
